.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: 80px;
  }
  .navbar-right-items {
    a {
      text-decoration: none;
      color: orange;
    }
  }
}
